@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    overflow-y: hidden;
}
/* header */
.header{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}


/* sidebar */
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 100vh;
    background: rgba(0, 2, 53, 0.9);
    text-align: center;
    font-size: 22px;
}

.sidebar img{
    width: 22px;
    display: flex;
    margin: 50px auto 80px;
    cursor: pointer;

}

.sidebar li {
   display: inline-block;
   margin: 0;
   padding: 0;
   
}

.sidebar li:first-child {
   margin-left: 0;
}

.sidebar a,
.sidebar a:visited {
   color: #ffffff;
   transition: 0.5s ease;
}

.sidebar a:hover,
.sidebar a:focus {
   color: #ed383d;
}


/* social media icons */
.social-media{
    font-size: 30px;
    width: 100%;
    height: 50%;
    background: #ed383d;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px ;
}


.social-media li {
   display: inline-block;
   margin: 0;
   padding: 0;
   
}

.social-media li:first-child {
   margin-left: 0;
}

.social-media a,
.social-media a:visited {
   color: #ffffff;
   transition: 0.5s ease;
}

.social-media a:hover,
.social-media a:focus {
   color: rgba(0, 2, 63, 0.9);
}



/* container content */
.container{
    background: rgba(0, 2, 63, 0.9);
    width: 53%;
    height: 100vh;
    position: relative;
}

.container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
   
    cursor: pointer ;

}

.container li:first-child {
   margin-left: 0;
}

.container a,
.container a:visited {
   color: #ed383d;
   transition: 0.5s ease;
}

.container a:hover,
.container a:focus {
   color: white;
}

/* shop */
.shop-icon{
    width: 22px;
    margin: 10px 60px;
    cursor: pointer;
    
}



/* log0*/
.logo{
    width: 120px;
    cursor: pointer;
}



.info{
    padding: 50px 18%;
    color: white;

}

.info h3{
    font-size: 23px;
    line-height :60px;
    font-weight: normal;

}

.info h1{
    font-size: 92px;
    font-weight: normal;
    margin-bottom: 35px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0;
}

.row h2{
    margin-bottom: 20px;
    padding: 20px;
    margin: auto;
    color: white;
}
.row p{
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}


